@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

/* Links */
a {
  color: #ffffff;
}

a:hover {
  color: #d35400; /* Pumpkin */
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}
/* End of links */

/* Sidebar */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  background: #ff8c00;
  background-image: linear-gradient(180deg, #ff8c00, 40%, #ffc312);
  color: #fff;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: 250px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1em;
  display: block;
}

/* #sidebar ul li a:hover {
  background: #fff;
} */

/* End of sidebar */
