@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 350;
  line-height: 1.5em;
}

/* Links (for sidebar) */
a {
  color: #ffffff;
}

a:hover {
  color: #d35400; /* Pumpkin */
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}
/* End of links */

/* Content style */
#content {
  width: calc(100% - 250px);
  padding: 10px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
/* End of content style */

/* Navbar */
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
/* End of navbar */

/* Sidebar */
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  background: #ff8c00;
  background-image: linear-gradient(180deg, #ff8c00, 40%, #ffc312);
  color: #fff;
  width: 250px;
  height: 100vh;
  max-width: 250px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  transition: all 0.3;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #d35400;
}
/* End of sidebar */
